:root {
  /* --yellow: #ffc600; */
  --blue: #259de2;
  --blue-darkest: #2c3e50;
  --black: #272727;
  --orange: #ffb515;
  --yellow: #e2b625;
  --blue-dark: #13608d;
  --red: #e03030;
  --red-dark: #af1313;
  --red-light: #ff4949;
  --green: #309209;
  --green-light: #46d10f;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: 'Londrina Solid', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  scroll-behavior: smooth;
  background-color: #259de2;
  /* overflow: hidden;  */
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

h1 {
  font-size: 24px;
}